.yith-wcpa-ag__toggle-field-input__radio{
    display: block;
}

.select2{
    width: 200px !important;
}

.lb_addon{
    display: block;
    font-weight: bold;
    margin: 0.5em 0;
}

.addon-price{
    display: block;
    margin: 0.1em 0;
    padding: 0;
}

.yith-wcpa-ag-addon-container{
    margin: 1.5em 0;
}

.yith-wcpa-ag-addon-container p{
    margin:0.1em 0;
    padding:0;
}
.yith-wcpa-ag__toggle-field-input__radio{
    padding-left:2em;
}

.yith-wcpa-ag-addon__text .addon-price, .yith-wcpa-ag-addon__text-area .addon-price{
  display: inline;
}

.yith-wcpa-ag-table-totals{
    background-color: #f0f0f0;
    margin: 2em 0;
    padding: 2em;
}
.yith-wcpa-ag-table-title{
    font-size: large;
    font-weight: bold;
}

.yith-wcpa-ag-table-title div {
    font-size: medium;
    font-weight:normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yith-wcpa-ag-table-title div span{
    font-size: 30px;
    color: #53a58f;
}

/* The switch - the box around the slider */
.yith-wcpa-ag__toggle-field-input__toggle {
    position: relative;
    display: inline-block;
    left: 0px;
    width: 60px !important;
    height: 34px;
    margin: 0px !important;
  }
  
  /* Hide default HTML checkbox */
  .yith-wcpa-ag__toggle-field-input__toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .yith-wcpa-ag__toggle-field-input__toggle-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .yith-wcpa-ag__toggle-field-input__toggle-btn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .yith-wcpa-ag__toggle-field-input__toggle-btn {
    background-color: #448c80;
  }
  
  input:focus + .yith-wcpa-ag__toggle-field-input__toggle-btn {
    box-shadow: 0 0 1px #448c80;
  }
  
  input:checked + .yith-wcpa-ag__toggle-field-input__toggle-btn:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -9px;
    bottom: 2px;
    width: 20px;
    height: 20px;
  }
  
  /* Rounded sliders */
  .yith-wcpa-ag__toggle-field-input__toggle-btn.round {
    border-radius: 34px;
    width: 41px;
    height: 23px;
  }
  
  .yith-wcpa-ag__toggle-field-input__toggle-btn.round:before {
    border-radius: 50%;
    left: 3px;
    bottom: 2px;
    width: 20px;
    height: 20px;
  }
  
  