
.yith-wcpa-ag-main-container{
  margin: 20px;
}

.yith-wcpa-ag-add-new-addon:hover{
  background-color: rgb(7, 60, 75);
}

.yith-wcpa-ag-input-container{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.yith-wcpa-ag-addon-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.yith-wcpa-ag-addon{
  margin: 5px 20px 5px 155px;
}
.yith-wcpa-ag-radio-group{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 150px;
}
.yith-wcpa-ag-field_container{
  padding: 10px 0px;
}

.yith-wcpa-ag-add-new-addon{
  background-color: rgb(8, 116, 147);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 6px;
  text-decoration: none;
}
.yith-wcpa-ag-addon-container{
  margin:10px;
  padding: 7px 10px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.yith-wcpa-ag-addon-header{
  width: 100%;
  display: flex;
}

.yith-wcpa-ag-title-addon{
  margin: 0px !important; 
  flex: auto;
  cursor: default;
  font-size: 15px;
}

.yith-wcpa-ag-name{
  width: 100% !important;
}
.yith-wcpa-ag-description{
  width: 100%;
}

.yith-wcpa-ag-container-select-options{
  display: flex;
  flex-flow: column;
  margin: 0 0 0 0px;
}

.yith-wcpa-ag-select-options{
  display: flex;
  margin:0 0 0 0px;
  align-items: center;
}

.yith-wcpa-field-title{
  margin: 0 0 0 0px !important;
}

.yith-wcpa-ag-select-option__text{
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 5px;
}
.yith-wcpa-ag-select-option__price{
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 5px;
}

.yith-wcpa-ag-select-option__text-input{
  width: 100% !important;
}
.yith-wcpa-ag-select-option__price-input{
  width: 100% !important;
}


.yith-wcpa-ag-add-new-option-select{
  margin:0 !important;
  padding: 0 !important;
  color: #629fd5;
  cursor: pointer;
}
.yith-wcpa-ag-add-new-option-select:hover{
  color: #1d476b;
}


.dashicons {
  cursor: pointer;
}


.yith-wcpa-ag-container-remove-addon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 -20px;
}
.yith-wcpa-ag-remove-addon{
  background-color: #d3d3d3;
  color: #545454;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 6px;
  text-decoration: none;
}

.yith-wcpa-ag-remove-addon:hover{
  background-color: #a09494;
}


.yith-wcpa-ag-container-checkbox-options{
  margin: 0px;
  display: flex;
}

/* The switch - the box around the slider */
.yith-wcpa-ag__toggle-field-input__toggle {
  position: relative;
  display: inline-block;
  left: 0px;
  width: 60px !important;
  height: 34px;
  margin: 0 0 0 3px !important;
}

/* Hide default HTML checkbox */
.yith-wcpa-ag__toggle-field-input__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.yith-wcpa-ag__toggle-field-input__toggle-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.yith-wcpa-ag__toggle-field-input__toggle-btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .yith-wcpa-ag__toggle-field-input__toggle-btn {
  background-color: #2196F3;
}

input:focus + .yith-wcpa-ag__toggle-field-input__toggle-btn {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .yith-wcpa-ag__toggle-field-input__toggle-btn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -9px;
  bottom: 2px;
  width: 20px;
  height: 20px;
}

/* Rounded sliders */
.yith-wcpa-ag__toggle-field-input__toggle-btn.round {
  border-radius: 34px;
  width: 41px;
  height: 23px;
}

.yith-wcpa-ag__toggle-field-input__toggle-btn.round:before {
  border-radius: 50%;
  left: 3px;
  bottom: 2px;
  width: 20px;
  height: 20px;
}

